html{
  background: #E4E9FD;
}


.container{
    text-align: center;
    margin-top:23px;
}

table{
    margin: auto;
}

input{
    font-size:2rem;
    height: 100px;
    width: 456px;
    background: #3A4655;
    border-radius: 10px;
    text-align: right;
    border: none;
    padding: 1.5rem;
    color: white;
}

button{
    border-radius: 50%;
    font-size: 40px;
    background: #425062;
    width: 102px;
    height: 90px;
    margin: 6px;
    border: none;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;

}

button:hover{
  background: #3e4b5c;
  color: black;
}

.calculator{
  background: #3A4655;
  width: 510px;
  margin: auto;
  min-height: 400px;
  background: #3A4655;
  box-shadow: 0 10px 50px -10px black;
  border-radius: 10px;

}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.opt{
  background: 	#b0c4de;
}

.ac{
  color: 	#ffa07a;
}
