html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #a667fd 50%, #E4E9FD 50%);
  min-height: 1000px;
}


* {
  box-sizing: border-box;

}


ul {
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    border-radius: 5px;
}


ul li:nth-child(odd) {
  background: #f9f9f9;
}


ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}



.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
    border-radius: 5px;
}

.close:hover {
  background-color: #f44336;
  color: white;
    border-radius: 5px;
}


.heading {
  padding: 3px 3px;
  color: white;
  text-align: center;
  background-color: #a667fd;
  max-width: 300px;
  margin: 50px auto;
  border-radius: 10px;


}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.add-text{
  text-align: center;
    border-radius: 5px;
}

.add-item{
  max-width: 600px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}


.addBtn {
  padding: 10px;
  width: 25%;
  background: #a667fd;
  color: white;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.addBtn:hover {
  background-color: #ddd;
  color: #000000;
}

.title{
  text-align: center;
}
